@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap');

* {
  font-family: 'Roboto Mono', monospace, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

/* Global color scheme variables */
:root {
  --bg-primary: #111;
  --bg-primsec: #1d1d1d;
  --bg-secondary: #282828;
  --bg-tertiary: #444;

  --text-primary: #fff;
  --text-secondary: #c8c8c8;
  --text-tertiary: #aaa;
  --text-inverted: #000;
}

/* Set the body to use the full page and the background color to the specified color */
body {
  margin: 0;
  padding: 0;

  background-color: var(--bg-primary);
  color: var(--text-primary);
}

/* Manual override for text colors, don't inherit from body */
h1,h2,h3,h4,h5,h6,p,span,div,a,select,button {
  color: var(--text-primary);
}

/* Make uniform buttons across the site */
.button {
  display: inline-block;
  padding: 0.75em;
  font-size: small;

  background-color: transparent;
  border: 1px solid white;

  text-decoration: none;
  color: var(--text-primary);
  cursor: pointer;

  transition: background-color 0.2s, color 0.2s;
}
.button:hover {
  background-color: white;
  color: var(--text-inverted);
}

/* Make uniform dropdowns */
.select {
  background-color: var(--bg-primary);
  border: 1px solid var(--text-primary);
  padding: 10px;
}