#quiz {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  margin: 0;
  padding: 0 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.quiz-subcontainer {
  flex: 1;
}

.quiz-hidden {
  display: none !important;
}

#quiz button {
  outline: none;
  cursor: pointer;
  display: block;

  padding: 10px;
  border-radius: 5px;

  background-color: var(--bg-primary);
  border: 2px solid var(--bg-tertiary);
  color: var(--text-primary);
}

#quiz button:hover {
  background-color: var(--bg-secondary);
}

#quiz button:focus {
  background-color: var(--bg-primsec);
}

#quiz-data-box-container {
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#quiz-data-box {
  outline: none;
  margin-bottom: 15px;
  display: block;

  padding: 10px;
  border-radius: 5px;

  background-color: var(--bg-primary);
  border: 2px solid var(--bg-tertiary);
  color: var(--text-primary);
}

#quiz-data-box:hover {
  background-color: var(--bg-secondary);
}

#quiz-data-box:focus {
  background-color: var(--bg-primsec);
}

#quiz-question-input-container {
  padding-top: 25px;
  padding-bottom: 25px;

  font-size: 1.15rem;
}

#quiz-question-prompt {
  font-weight: normal;
}

.quiz-radio-container {
  padding: 10px;
  margin-bottom: 10px;

  display: flex;
  flex-direction: row;
  align-items: center;

  border-radius: 5px;
  border: 2px solid var(--bg-secondary);
}

.quiz-radio-container:has(> input:checked) {
  border: 2px solid var(--bg-tertiary);
  background-color: var(--bg-secondary);
}

.quiz-radio-container:has(> label:hover):not(:has(> input:checked)).quiz-radio-container:has(> label:focus):not(:has(> input:checked)) {
  background-color: var(--bg-primsec);
}

.quiz-radio-container > label {
  flex: 1;

  padding-left: 15px;
  cursor: pointer;

  color: var(--text-primary);
  text-decoration: none;
}

.quiz-radio-container--correct {
  border: 2px solid greenyellow !important;
}

.quiz-radio-container--incorrect {
  border: 2px solid red !important;
}